# Virtual environments
.venv/
**/.amplitude_venv/
**/venv/

# Environment files
**/.env
**/.aws_env

# Data directories
**/data/

# caching
**/__pycache__/

# data engineering course work
data_engineering_school_course/

# archive scripts
**/script_archive/